/* Styling about section. */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    font-family: 'Roboto', sans-serif;
}

.about .max-width{
    
	pointer-events: all;
    width: 100%;
    padding-top: 100px;
}

.about .about-content{
    position: relative;
    height: 882px;
    width: 100%;
}

/* Size of the image of Saith Seren pub. */


.about .about-content .image-saith-seren img{
    width: 100%;
    height: 882px;
}

/* Title at the center of the image styling. */

.about .about-content .title-saith-seren{
    position: absolute; /* The title depend on the position of the class .about-content. */
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 146px;
    width: 840px;
    background-color: rgb(255, 255, 255, 0.7);
    display: flex;  
    align-items: center;
    justify-content: center;
    font-family: 'Ibarra Real Nova', sans-serif;

}

.about .about-content .title-saith-seren h1{

    font-size: 64px;
    font-weight: 500;
    text-transform: uppercase;
}

.about .about-content .square-about{
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 328px;
    background-color: rgba(204, 2, 2, 0.79);
    color: white;


}

.about .about-content .square-about .welsh-culture{
    display: block;
    width: 70%;
    height: 328px;
}

.about .about-content .square-about .subscribe{
    display: block;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 328px;
    background:#EF5656;
    margin-right: 68px;
}

/* Styling Welsh Culture Box. */

.about .about-content .square-about .welsh-culture .square-information-welsh{
    height: 250px;
    display: block;
    margin: 60px 60px 60px 228px;

}

/* Title. */

.about .about-content .square-about .welsh-culture .square-information-welsh h3{
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;

}

/* Text description. */

.about .about-content .square-about .welsh-culture .square-information-welsh p{
    color: white;
    margin-top: 40px; 
    width: 797px;
    font-weight: 600;
}

/* Button Read More. */ 

.about .about-content .square-about .welsh-culture .square-information-welsh .read-more{
    padding: 10px 20px;
    background-color: rgba(0,0,0, 0.37);
    height: 56px;
    width: 183px;
    color: #C7C7C7;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    
    margin-top: 46px;
    text-transform: uppercase;
    font-weight: 600;

    display: flex; 
    align-items: center; 

}

/* We had the button on the left of the button. */

.about .about-content .square-about .welsh-culture .square-information-welsh .read-more-icon{
    width: 20px; 
    height: 20px;

    margin-right: 18px;

}


/* Styling Subscribe Box. */


.about .about-content .square-about .subscribe .subscribe-title-box{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .about-content .square-about .subscribe .subscribe-title-box .subscribe-title{
    text-align: center;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 24px;
}

.about .about-content .square-about .subscribe .description-subscribe{
    color: white;
    font-weight: 600;
    font-size: 16px;

    margin-top: 50px;
    padding-right: 22px;
    padding-left: 22px;
    width: 100%;

    text-align: center;
}

.about .about-content .square-about .subscribe .box-subscribe-button .subscribe-button{
    padding: 10px 20px;
    background-color: rgba(0,0,0, 0.37);
    height: 56px;
    width: 183px;
    color: #C7C7C7;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    
    margin-top: 46px;
    text-transform: uppercase;
    font-weight: 600;
}

.about .about-content .square-about .subscribe .box-subscribe-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Circle and icon at the left of the "Support Us" text/element. */

.about .about-content .square-about .subscribe .subscribe-title-box .circle-heart {
    height: 47px;
    width: 47px;
    background-color: #CC0202;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 17px;
}

.about .about-content .square-about .subscribe .subscribe-title-box .circle-heart .heart-icon{
    background-color: #CC0202;
    color: white;

    height: 20px;
    width: 20px;

}



/* Responsive About Section */

@media (max-width: 1235px){

    .about .about-content .square-about .welsh-culture .square-information-welsh .welsh-description{
        width: 500px;
        height: 50px;
    }

    .about .about-content .square-about .subscribe .description-subscribe{
        font-size: 13px;
        margin-top: 23px;
        
    }

    .about .about-content .square-about .welsh-culture .square-information-welsh .read-mor button{
        padding-bottom: 10px;
    }

    

}

@media (max-width: 1055px){

    .about .about-content .square-about{
        display: block;
    }

    .about .about-content .square-about  .welsh-culture{
        width: 100%;
        height: 217px;
    }

    .about .about-content .square-about  .subscribe{
        width: 100%;
        background-color: #CC0202;
    }

    .about .about-content .square-about  .subscribe .subscribe-title-box{
        padding-top: 60px;
        
    }

    .about .about-content .square-about .subscribe .subscribe-title-box .circle-heart{
        background-color: #EF5656;
    }

    .about .about-content .square-about .subscribe .subscribe-title-box .circle-heart .heart-icon{
        background-color: #EF5656;
    }

    .about .about-content .square-about .subscribe .description-subscribe{
        font-size: 16px;
    }

    .about .about-content .square-about .welsh-culture .square-information-welsh{
        margin: 60px 59px 60px 80px
    }

}

@media (max-width: 1000px){

    .about .about-content .title-saith-seren{
        height: 120px;
        width: 600px;
    }

    .about .about-content .title-saith-seren h1{
        font-size: 50px;
    }
}

@media (max-width: 647px){
    
    .about .about-content .title-saith-seren{
        height: 95px;
        width: 356px;
    }

    .about .about-content .title-saith-seren h1{
        font-size: 40px;
    }
}

/* Phone User Responsive. */

@media (max-width: 430px){
    
    .about .about-content{
         height: 471px;
    }
    
    .about .about-content .square-about{
        height: 185px;
    }
    .about .about-content .square-about .welsh-culture{
        margin-top: 59px;
    
    }

    .about .about-content .title-saith-seren{
        height: 95px;
        width: 356px;
    }

    .about .about-content .title-saith-seren h1{
        font-size: 40px;
    }
    
    .about .about-content .image-saith-seren img{
        width: 100%;
        height: 430px;
    }

    .about .about-content .square-about .welsh-culture .square-information-welsh h3{
        font-size: 14px;
    }

    .about .about-content .square-about .welsh-culture .square-information-welsh .welsh-description{
        font-size: 10px;
        width: 330px;
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .about .about-content .square-about .welsh-culture .square-information-welsh .read-more {
        padding: 12px 19px;
        height: 26px;   
        width: 100px;
        margin-top: -17px;
        font-size: 10px;

    }

    .about .about-content .square-about .welsh-culture .square-information-welsh .read-more-icon{
        display: none;
        
    }

    .about .about-content .square-about .welsh-culture .square-information-welsh{
        margin: -44px 56px 0px 34px 
    }

    .about .about-content .square-about .subscribe .subscribe-title-box{
        margin-top: -89px;
    }


    /* Subscrive Section Reponsive Styling. */

    .about .about-content .square-about .subscribe{
        height: 162px;
    }

    .about .about-content .square-about .subscribe .subscribe-title-box{
        padding-top: 20px;
        
    }

    .about .about-content .square-about .subscribe .description-subscribe{
        font-size: 11px;
        margin-top: 14px;
    }
    .about .about-content .square-about .subscribe .description-subscribe p{
        width: 284px;
        height: 107px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .about .about-content .square-about .subscribe .subscribe-title-box .subscribe-title{
        font-size: 13px;
    }

    .about .about-content .square-about .subscribe .subscribe-title-box .circle-heart{
        height: 41px;
        width: 41px;
    }

    .about .about-content .square-about .subscribe .subscribe-title-box .circle-heart .heart-icon{
        width: 13px;
        height: 13px;
    }

    .about .about-content .square-about .subscribe .box-subscribe-button .subscribe-button{
        height: 27px;
        width: 118px;
        font-size: 11px;
        margin-top: 15px;

        padding: 8px;
    }
}

/* Phone less than 320px. */

@media (max-width: 325px){
    .about .about-content .title-saith-seren {
        height: 95px;
        width: 300px;
      }

    .about .about-content .square-about .welsh-culture .square-information-welsh .welsh-description{
        width: 290px;
    }
    .newsletter .newsletter-content .newsletter-square{
        width: 300px;
    }

    .newsletter .newsletter-content .newsletter-square .newsletter-square-information p {
        width: 150px;
    }

    .about .about-content .square-about .welsh-culture .square-information-welsh .welsh-description {
        width: 260px;
      }


}