/* Admin Page Styling */

.max-width{
    max-width: 1920px;
    margin: auto;
}

.admin .max-width{

    width: 100%;
}


.admin .admin-content{
    display: flex;

    width: 100%;
    height: 700px;



}

.admin .admin-content .other-square{
    width: 80%;
    height: 700px;
}


/* Dashboard Styling. */

.admin .admin-content .dashboard-square{
    display: block;
    width: 20%;
    height: 100%;
    background-color: #2d2d2d;

    border-bottom-right-radius: 50px;
}

.admin .admin-content .dashboard-square .overview {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.admin .admin-content .dashboard-square .overview button{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    background-color: transparent;
    border: none;
    cursor: pointer;
}

.admin .admin-content .dashboard-square .overview h3{
    color: #646464;
    font-size: 20px;
}

.admin .admin-content .dashboard-square .overview-more{
    display: none;
}

.admin .admin-content .dashboard-square .overview-more[data-visible="true"]{
    display: block;
}


.admin .admin-content .dashboard-square .overview-more a{
    display: block;

    align-items: center;
    text-align: center;
    justify-content: center;
}

.admin .admin-content .dashboard-square .overview .diag-icon{
    width: 28px;
    height: 25px;

    padding-right: 20px;
}

.admin .admin-content .dashboard-square .overview .arrow-bottom-icon{
    width: 24px;
    height: 24px;

    padding-left: 20px;
}

.admin .admin-content .dashboard-square .title-dashboard{
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.admin .admin-content .dashboard-square .title-dashboard h3{
    color: #CC0202;
    font-size: 24px;
}

.admin .admin-content .dashboard-square .title-dashboard p{
    color: white;
    font-size: 20px;
}

.admin .admin-content .dashboard-square .line{
    border: 1px solid #676767;
}


/* Calendar Form Styling. */

.admin .admin-content .other-square {
    margin-left: 40px;
    margin-top: 30px;
}

.admin .admin-content .other-square .calendar{

}

.admin .admin-content .other-square .calendar h3{
    color: #CC0202;
    margin-bottom: 50px;
}

.admin .admin-content .other-square .calendar .flex{
    display: flex;    
    

}

.admin .admin-content .other-square .calendar .space-between{
    padding-right: 30px;
}

.admin .admin-content .other-square .calendar .line-2{
    display: flex;
    width: 90%;
    border: 1px solid rgba(82, 82, 82, 0.619);
    border-width: thin;


    margin-bottom: 20px;
    margin-top: 20px;
}


.admin .admin-content .other-square .calendar textarea{
    width: 500px;
    height: 200px;
}

.admin .admin-content .other-square .calendar input{
    width: 190px;
    height: 20px;
}

.admin .admin-content .other-square .calendar label{
    font-weight: 600;
}

.admin .admin-content .other-square .calendar .square-button{
    display: flex;
    justify-content: flex-end;
    width: 90%;
}

.admin .admin-content .other-square .calendar .square-button button{
    background-color: rgba(198,0,0, 0.7);

    border: none;
    border-radius: 20px;

    width: 100px;
    height: 35px;

    cursor: pointer;

    font-weight: 600;
    color: white;
}


/* List/Manipulation Event Styling. */

.admin .admin-content .other-square .list-event .event-edit label{
    margin-top: 90px;
}