/* Admin Page Styling */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    font-family: 'Roboto', sans-serif;
}



.max-width{
    max-width: 1920px;
    margin: auto;
}

.admin .max-width{

    width: 100%;
}


.admin .admin-content{
    display: flex;

    width: 100%;
    height: 700px;



}

.admin .admin-content .other-square{
    width: 80%;
    height: 700px;
}


/* Dashboard Styling. */

.admin .admin-content .dashboard-square{
    display: block;
    width: 20%;
    height: 100%;
    background-color: #2d2d2d;

    border-bottom-right-radius: 50px;
}

.admin .admin-content .dashboard-square .overview {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.admin .admin-content .dashboard-square .overview button{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    background-color: transparent;
    border: none;
    cursor: pointer;
}

.admin .admin-content .dashboard-square .overview h3{
    color: #646464;
    font-size: 20px;
}

.admin .admin-content .dashboard-square .display-none{
    display: none;

    transition: height 0.5s;
}


.admin .admin-content .dashboard-square .white .white-text {
    color: white;
 }
 

.admin .admin-content .dashboard-square .overview-more[data-visible="true"]{
    display: block;
}

.admin .admin-content .dashboard-square .newsletter-more[data-visible="true"]{
    display: block;
}

.admin .admin-content .dashboard-square .calendar-more[data-visible="true"]{
    display: block;
}
.admin .admin-content .dashboard-square .user-more[data-visible="true"]{
    display: block;
}
.admin .admin-content .dashboard-square .image-more[data-visible="true"]{
    display: block;
}

.admin .admin-content .dashboard-square .overview-more .overview-more.visible {
    height: auto;
}

.admin .admin-content .dashboard-square .overview-more .notification-icon{
    margin-left: 22px;
}

.admin .admin-content .dashboard-square .image .image-icon{
    width: 28px;
    height: 28px;

    margin-right: 56px;
}

.admin .admin-content .dashboard-square .overview-more a {
    color: white;

    font-size: 16px;
    
    margin-bottom: 10px;
}

.admin .admin-content .dashboard-square .text-decoration{
    text-decoration: none;
    color: white;
}

.admin .admin-content .dashboard-square .icon-more {
    width: 24px;
    height: 24px;

    margin-right: 20px; 
    margin-top: 10px;
}

.admin .admin-content .dashboard-square .newsletter .newsletter-icon{
    width: 24px;
    height: 24px;

    margin-right: 17px;
    margin-left: 7px;
}

.admin .admin-content .dashboard-square .user .user2-icon{
    width: 27px;
    height: 27px;

    margin-left: 7px;
}

.admin .admin-content .dashboard-square .user h3{
    margin-left: 54px;
    margin-right: 20px;
}


.admin .admin-content .dashboard-square .calendar .calendar-icon{
    width: 26px;
    height: 28px;

    margin-right: 28px;
}



.admin .admin-content .dashboard-square .block{
    display: flex;

    text-align: center;
    justify-content: center;


    margin-bottom: 15px;
}


.admin .admin-content .dashboard-square .overview .diag-icon{
    width: 28px;
    height: 25px;

    padding-right: 20px;
}

.admin .admin-content .dashboard-square .overview .arrow-bottom-icon{
    width: 24px;
    height: 24px;

    padding-left: 20px;
}

.admin .admin-content .dashboard-square .title-dashboard{
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.admin .admin-content .dashboard-square .title-dashboard h3{
    color: #CC0202;
    font-size: 24px;
}

.admin .admin-content .dashboard-square .title-dashboard p{
    color: white;
    font-size: 20px;
}

.admin .admin-content .dashboard-square .line{
    border: 1px solid #676767;
}


.admin .admin-content .dashboard-square .bottom-dashboard{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;


    margin-top: 20px;
}

.admin .admin-content .dashboard-square .bottom-dashboard .logout{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 219px;
    height: 56px;

    background-color: #6B6B6B;
    border: none;
    border-radius: 8px;

    cursor: pointer;

}

.admin .admin-content .dashboard-square .bottom-dashboard .logout button{

    display: flex;
    align-items: center;
    justify-content: center;

    background: none;
    border: none;

    color: white;
    font-weight: 600;
    


    cursor: pointer;
}

.admin .admin-content .dashboard-square .bottom-dashboard .logout button p{
    margin-bottom: 8px;
}

.admin .admin-content .dashboard-square  .bottom-dashboard .logout img{
    width: 24px;
    height: 24px;

    margin-right: 15px;

}

/* Calendar Form Styling. */

.admin .admin-content .other-square {
    margin-left: 40px;
    margin-top: 30px;
}

.admin .admin-content .other-square .calendar{

}

.admin .admin-content .other-square .calendar h3{
    color: #CC0202;
    margin-bottom: 50px;
}

.admin .admin-content .other-square .calendar .flex{
    display: flex;    
    

}

.admin .admin-content .other-square .calendar .space-between{
    padding-right: 30px;
}

.admin .admin-content .other-square .calendar .line-2{
    display: flex;
    width: 90%;
    border: 1px solid rgba(82, 82, 82, 0.619);
    border-width: thin;


    margin-bottom: 20px;
    margin-top: 20px;
}


.admin .admin-content .other-square .calendar textarea{
    width: 500px;
    height: 200px;
}

.admin .admin-content .other-square .calendar input{
    width: 190px;
    height: 20px;
}

.admin .admin-content .other-square .calendar label{
    font-weight: 600;
}

.admin .admin-content .other-square .calendar .square-button{
    display: flex;
    justify-content: flex-end;
    width: 90%;
}

.admin .admin-content .other-square .calendar .square-button button{
    background-color: rgba(198,0,0, 0.7);

    border: none;
    border-radius: 20px;

    width: 100px;
    height: 35px;

    cursor: pointer;

    font-weight: 600;
    color: white;
}


/* List/Manipulation Event Styling. */

.admin .admin-content .other-square .list-event .event-edit label{
    margin-top: 90px;
}

/* Responsive Dashboard */

@media (max-width: 1112px){
    .admin .admin-content .dashboard-square .bottom-dashboard .logout{
        width: 168px;
    }
}

@media (max-width: 1045px){

    .admin .admin-content .dashboard-square .overview h3{
        font-size: 12px;
    }
    .admin .admin-content .dashboard-square .bottom-dashboard .logout{
        width: 170px;
    }

    .admin .admin-content .dashboard-square .overview .arrow-bottom-icon{
        width: 15px;
        height: 15px;
    }
}

@media (max-width: 900px){
    .admin .admin-content .dashboard-square .bottom-dashboard .logout{
        width: 110px;
    }

    .admin .admin-content .dashboard-square .overview .arrow-bottom-icon{
        display: none;
    }

    .admin .admin-content .dashboard-square .icon-more{
        width: 15px;
        height: 15px;
    }

    .admin .admin-content .dashboard-square .text-decoration{
        font-size: 10px;
    }

    .admin .admin-content .dashboard-square .overview-more a {
        font-size: 10px;
    }
}

@media (max-width: 700px){

    .admin .admin-content .dashboard-square .title-dashboard h3{
        display: none;
    }

    .admin .admin-content .dashboard-square .title-dashboard p{
        display: none;
    }
    .admin .admin-content .dashboard-square .overview h3{
        display: none;
    }

    .line{
        display: none;
    }

    .admin .admin-content .dashboard-square .overview{

        margin-top: 10px;
    }

    .admin .admin-content .dashboard-square .user .user2-icon{
        margin: 0;
    }

    .admin .admin-content .dashboard-square .newsletter .newsletter-icon{
        margin: 0;
    }

    .admin .admin-content .dashboard-square .bottom-dashboard .logout button p{
        display: none;
    }

    .admin .admin-content .dashboard-square .bottom-dashboard .logout{
        width: 37px;
        height: 32px;
    }

    .admin .admin-content .dashboard-square .bottom-dashboard .logout img{
        width: 17px;
        height: 17px;
        margin: 0;
    }

    .admin .admin-content .dashboard-square{
        height: 80%;
        width: 60px;
    }

    .admin .admin-content .dashboard-square .overview-more .notification-icon{
        margin-left: 0px;
    }

    .admin .admin-content .dashboard-square .overview-more a{
        display: block;
        align-items: center;
        justify-content: center;
    }


    .admin .admin-content .dashboard-square .icon-more{
        margin-right: 0px;
    }

    .admin .admin-content .dashboard-square{
        display: block;
        justify-content: center;
        align-items: center;

    }

    .admin .admin-content .dashboard-square .overview button{
        display: flex;
        align-items:  center;
        justify-content: center;
    }

    .admin .admin-content .dashboard-square .overview .diag-icon{
        padding-right: 0px;
    }

    .admin .admin-content .dashboard-square .calendar .calendar-icon{
        margin-right: 0px;
    }

    .admin .admin-content .dashboard-square .image .image-icon{
        margin-right: 0px;
    }

    .admin .admin-content .dashboard-square .block{
        display: block;
    }
}