.max-width{
    max-width: 1920px;
    padding: 0 5px;
    margin: auto;
}




.calendar .max-width{
    position: relative;
    width: 100%;
}

.triangle-1 {
    position: absolute;
    width: 0;
    height: 0;
    left: -203px;
    top: 226px;
    border-style: solid;
    border-width: 368px 51px 202px 351px;
    border-color: transparent transparent transparent #EF5656;
    transform: rotate(215deg);
}

.triangle-2 {
    position: absolute;
    width: 0;
    height: 0;
    left: -649px;
    top: -41px;
    border-style: solid;
    border-width: 368px 368px 368px 368px;
    border-color: transparent transparent transparent #EF5656;
    transform: rotate(140deg);
}

.calendar .calendar-content{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 192px;
    margin-left: 76px;
    margin-right: 40px;

    height: 750px;
    width: 93%;

    background: transparent;
}

.calendar  .calendar-content .calendar-title{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
}

.calendar  .calendar-content .calendar-title h1{
    color: black;
    font-size: 64px;
    font-weight: 600;
}

.calendar  .calendar-content .calendar-event{
    position: absolute;
    top: 0;
    display: block;
    justify-content: center;
    width: 50%;
    height: 750px;

}


/* List of Events Styling. */

.calendar  .calendar-content .calendar-event .month-event{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;


    width: 100%;
}

.calendar  .calendar-content .calendar-event .month-event h1{
    color: black;
    text-transform: uppercase;
    font-size: 32px;
}

/* Line Styling. */

.calendar  .calendar-content .calendar-event .line{
    margin-top: 20px;
    margin-bottom: 70px;

    width: 695px;
    height: 1px;
    background-color: black;
}

/* List of Event Styling. */

.calendar  .calendar-content .calendar-event .list-event{
    display: block;
}

.calendar  .calendar-content .calendar-event .list-event .event{
    display: flex;
    width: 693px;
    height: 149px;
    margin-top : 54px;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.4);
    
    border: none;
    background-color: white;
}

.calendar  .calendar-content .calendar-event .list-event .event .date-event{
    display: flex;
    align-items: center;
    
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    justify-content: center;
    text-align: center;
    width: 160px;

    background-color: #2D2D2D;
}

.calendar  .calendar-content .calendar-event .list-event .event .date-event h3{
    color: white;
    text-transform: uppercase;
    font-size: 24px;
}

.calendar  .calendar-content .calendar-event .list-event .event .desc-event{
    width: 90%;
    background-color: white;
    display: block;

    padding-left: 37px;
    margin-top: 25px;

}

.calendar  .calendar-content .calendar-event .list-event .event .desc-event .title-event{
    width: 100%;
    margin-bottom: 10px;

}

.calendar  .calendar-content .calendar-event .list-event .event .desc-event .title-event h3{
    color: #C60000;
    font-size: 24px;
    text-transform: uppercase;
}

.calendar  .calendar-content .calendar-event .list-event .event .desc-event .description-event{
    font-size: 14px;
    width: 469px;
    height: 48px;
}

.calendar  .calendar-content .calendar-event .list-event .event .desc-event  .hour-event{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-color: rgba(198,0,0, 0.7);
    height: 29px;
    width: 80px;
    color: black;
    border-radius: 30px;
    border: none;
    
    text-transform: uppercase;

}

.calendar  .calendar-content .calendar-event .list-event .event .desc-event  .hour-event img{
    width: 13px;
    height: 13px;

    margin-right: 4px;
}

.calendar  .calendar-content .calendar-event .list-event .event .desc-event  .hour-event p{
    font-size: 11px;
}
@media (max-width: 430px){

.calendar .calendar-content{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        margin-left: 10px;
        margin-right: 10px;
    
        height: 750px;
        width: 93%;
    
        background: transparent;
    }

    .calendar  .calendar-content .calendar-title{
        position: absolute;
        top: 0px;
        left: 125px;
        width: 50%;
    }
    
        .calendar  .calendar-content .calendar-title h1{
        color: black;
        font-size: 32px;
        font-weight: 600;
    }

    .calendar  .calendar-content .calendar-event{
        position: absolute;
        top: 100px;
        display: block;
        justify-content: center;
        width: 100%;
        height: 750px;
    
    }
	
/* List of Event Styling. */
    .calendar  .calendar-content .calendar-event .month-event{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    
    
        width: 100%;
    }
    
        .calendar  .calendar-content .calendar-event .month-event h1{
        color: black;
        text-transform: uppercase;
        font-size: 20px;
    }
/* Line Styling. */

    .calendar  .calendar-content .calendar-event .line{
        margin-top: 15px;
        margin-bottom: 10px;
    
        width: 100%;
        height: 1px;
        background-color: black;
    }
/* List of Event Styling. */

    .calendar  .calendar-content .calendar-event .list-event .event{
        display: flex;
        width: 95%;
        height: 130px;
        margin-top : 10px;
    
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.4);
        
        border: none;
        background-color: white;
    }
	.calendar  .calendar-content .calendar-event .list-event .event .date-event{
        display: flex;
        align-items: center;
        
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        justify-content: center;
        text-align: center;
        width: 20%;
    
        background-color: #2D2D2D;
    }

    .calendar  .calendar-content .calendar-event .list-event .event .date-event h3{
        color: white;
        text-transform: uppercase;
        font-size: 18px;
    }

    .calendar  .calendar-content .calendar-event .list-event .event .desc-event{
        width: 90%;
        background-color: white;
        display: block;
    
        padding-left: 10px;
        margin-top: 5px;
    
    }

    .calendar  .calendar-content .calendar-event .list-event .event .desc-event .description-event{
        font-size: 14px;
        width: 340px;
        height: 48px;
    }
}