.contact .max-width{
    
    width: 100%;
}


.contact .contact-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 840px;
    width: 100%;
    background:#8B8A8A;
}

.contact .contact-content .contact-square{
    height: 664px;
    width: 861px;

}

.contact .contact-content .contact-square .contact-address-information-square{
    display: block;
    width: 100%;

}

.contact .contact-content .contact-square .contact-address-information-square h1{
    color: white;
    font-size: 36px;
    text-transform: uppercase;
}

.contact .contact-content .contact-square .contact-address-information-square .contact-address{
    display: flex;
    margin-top: 38px;
    width: 842px;
    height: 151px;
    padding: 20px;

    background-color: white;
}

.contact .contact-content .contact-square .contact-other-information{
    display: flex;
    
    width: 100%;

}

.contact .contact-content .contact-square .contact-other-information .opening-time-information{
    position: relative;
    margin-top: 39px;
    display: flex;

    height: 416px;

}


.contact .contact-content .contact-square .contact-other-information .map-interaction{
    width: 284px;
    height: 416px;

    margin-top: 39px;
    margin-left: 64px;
    background-color: white;
    border-radius: 20px;
}


.contact .contact-content .contact-square .contact-other-information .contact-social-media{
    position: absolute;
    width: 488px;
    height: 105px;
    margin-top: 47px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}


.contact .contact-content .contact-square .contact-other-information .opening-time-information .opening-time{

    width: 496px;
    height: 288px;

    background-color:  white;
    border-radius: 20px;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
}


/* Contact Address Styling. */


/* Address Styling. */

.contact .contact-content .contact-square .contact-address-information-square .contact-address .address{
    width: 50%;
}

.contact .contact-content .contact-square .contact-address-information-square .contact-address .address h3{
    color: #D70000;
    font-size: 24;
    font-weight: 600;
    text-transform: uppercase;
}

.contact .contact-content .contact-square .contact-address-information-square .contact-address .address p{
    margin-top: 5px;
    font-size: 20px;
    color: black;
}

/* Number Contact Styling. */

.contact .contact-content .contact-square .contact-address-information-square .contact-address .number-email{
    display: block;
    width: 50%;
}

.contact .contact-content .contact-square .contact-address-information-square .contact-address .number-email .number{
    display: flex;
}

.contact .contact-content .contact-square .contact-address-information-square .contact-address .number-email img{
    width: 24px;
    height: 24px;
    margin-right: 20px;
}

.contact .contact-content .contact-square .contact-address-information-square .contact-address .number-email p {
    font-size: 20px;
    color: black;
}


/* Email Contact Styling. */

.contact .contact-content .contact-square .contact-address-information-square .contact-address .number-email .email{
    margin-top: 31px;
    display: flex;
}

.contact .contact-content .contact-square .contact-address-information-square .contact-address .number-email .email img{
    width: 24px;
    height: 24px;
    margin-right: 20px;
}

.contact .contact-content .contact-square .contact-address-information-square .contact-address .number-email .email p{
    font-size: 20px;
    color: black;  
}

.contact .contact-content .contact-square .contact-address-information-square .contact-address .icon-localisation img{
    width: 109px;
    height: 109px;
}


/* Styling Opening Time. */

.contact .contact-content .contact-square .contact-other-information .opening-time{

    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.contact .contact-content .contact-square .contact-other-information .opening-time h2{
    font-weight: 600;
    font-size: 40px;
    color: black;

    margin-bottom: 60px;
    margin-top: 50px;
}


.contact .contact-content .contact-square .contact-other-information .opening-time p{
    font-size: 20px;
    color: black;
}


/* Styling Social Media Display. */

.contact .contact-content .contact-square .contact-other-information .contact-social-media .twitter-image img{
    width: 97px;
    height: 97px;
    margin-right: 118px;
}

.contact .contact-content .contact-square .contact-other-information .contact-social-media .facebook-image img{
    width: 97px;
    height: 97px;

}

/* Responsive Styling Contact Section. */

@media (max-width: 1000px){
    .contact .contact-content .contact-square .contact-address-information-square .contact-address {
        width: 800px;
    }

    .contact .contact-content .contact-square .contact-other-information .map-interaction{
        margin-right: 58px;
    }
}

@media (max-width: 935px){
    .contact .contact-content .contact-square .contact-address-information-square .contact-address {
        width: 750px;
    }

    .contact .contact-content .contact-square .contact-other-information .contact-social-media .twitter-image img{
        width: 75px;
        height: 75px;
        margin-right: 70px;
    }
    
    .contact .contact-content .contact-square .contact-other-information .contact-social-media .facebook-image img{
        width: 75px;
        height: 75px;
    
    }

    .contact .contact-content .contact-square .contact-other-information .opening-time-information .opening-time {
        width: 344px;
    }

    .contact .contact-content .contact-square .contact-other-information .contact-social-media {
        width: 344px;
    }

    .contact .contact-content .contact-square .contact-other-information .map-interaction{
        margin-left: 126px;
    }
        
    
}

@media (max-width: 830px){
    .contact .contact-content .contact-square .contact-address-information-square .contact-address {
        width: 650px;
    }

    .contact .contact-content .contact-square .contact-other-information .map-interaction{
        margin-left: 29px;
    }

}

@media (max-width: 430px){

    .contact .contact-content {
        height: 350px;

    }
    .contact .contact-content .contact-square {
        height: 281px;
        width: 861px;
        margin-left: 30px;
    }

    .contact .contact-content .contact-square .contact-address-information-square h1{
        font-size: 14px;
    }

    .contact .contact-content .contact-square .contact-address-information-square .contact-address{
        width: 324px;
        height: 71px;
        margin-top: 15px;
        padding: 6px;
    }

    .contact .contact-content .contact-square .contact-address-information-square .contact-address .address p{
        font-size: 10px;
    }

    .contact .contact-content .contact-square .contact-address-information-square .contact-address .address h3{
        font-size: 14px;
    }

    .contact .contact-content .contact-square .contact-address-information-square .contact-address .number-email{
        margin-top: 5px;

    }


    .contact .contact-content .contact-square .contact-address-information-square .contact-address .number-email p{
        font-size: 10px;
    }

    .contact .contact-content .contact-square .contact-address-information-square .contact-address .number-email .email{
        margin-top: 15px;
    }

    .contact .contact-content .contact-square .contact-address-information-square .contact-address .number-email .email p{
        font-size: 10px;
    }

    .contact .contact-content .contact-square .contact-address-information-square .contact-address .number-email img{
        width: 11px;
        height: 11px;
    }
    .contact .contact-content .contact-square .contact-other-information .contact-social-media{
        width: 181px;
    }

    .contact .contact-content .contact-square .contact-other-information .contact-social-media .twitter-image img{
        width: 31px;
        height: 31px;
    }
    .contact .contact-content .contact-square .contact-other-information .contact-social-media .facebook-image img{
        width: 31px;
        height: 31px;
    }

    .contact .contact-content .contact-square .contact-address-information-square .contact-address .number-email .email img{
        width: 11px;
        height: 11px;
    }

    .contact .contact-content .contact-square .contact-address-information-square .contact-address .icon-localisation img{
        width: 45px;
        height: 37px;
        margin-top: 11px;
    }

    .contact .contact-content .contact-square .contact-other-information .map-interaction{
        width: 135px;
        height: 162px;
        margin-right: 0px;
        margin-left: 18px;
    }

    .contact .contact-content .contact-square .contact-other-information .opening-time-information{
        height: 190px;
    }

    .contact .contact-content .contact-square .contact-other-information .opening-time-information .opening-time{
        width: 179px;
        height: 113px;
    }

    .contact .contact-content .contact-square .contact-other-information .opening-time h2{
        font-size: 14px;
        margin-top: 11px;
        margin-bottom: 22px;
    }

    .contact .contact-content .contact-square .contact-other-information .opening-time p{
        font-size: 10px;
    }
}