/* All body Styling. */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


.max-width{
    max-width: 1920px;
    padding: 0 5px;
    margin: auto;
}

/* Navbar Styling. */

.navbar{
    position: fixed; 
    z-index: 9999;
    width: 100%;
    height: 83px;
    top: 0;
    background-color:rgba(255, 255, 255, 0.603); 

    
}

.navbar .max-width{
    display: flex;
    align-items: center;
}


.navbar[data-visible="false"]{
    top: 0px;
    transition: top 350ms ease-out;

}
.navbar[data-visible="true"]{
    top: -130px;
    transition: top 350ms ease-out;
}

/* We don't want to see the button when we are in full screen. */

.navbar .mobile-nav-toggle{
    display: none;
}



/* Property of the items in the navbar (home, calendar and more...) */

.navbar .menu-navigation .space-between .menu-navigation-left{
    display: flex;
    align-items: center;

}

.navbar .menu-navigation .space-between .menu-navigation-right{
    display: flex;
    align-items: center;
    margin-right: 90px;
    
}

.navbar .max-width .menu-navigation{
    list-style: none;
    /* Change below value if there is a problem or you want to test something. */ 

    margin: 0;

    
}

.navbar .max-width .menu-navigation-left {
    display: flex;
    justify-content: flex-start;
    padding-top: 18px;
    
}

.navbar .max-width .menu-navigation-right{
    display: flex;
    justify-content: flex-end;
    width: 750px;
}

/* Scroll Navbar. */

.navbar[data-visible="false"]{
    top: 0px;
    transition: top 350ms ease-out;

}
.navbar[data-visible="true"]{
    top: -130px;
    transition: top 350ms ease-out;
}


/* Styling of the menu navigation button. */

.navbar .menu-navigation a{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    color: black;
    transition: color 0.2s ease-in-out;
}

/* Styling when you put your mouse over element of the menu navigation. */

.navbar .menu-navigation a:hover{

    color: #EF5656;
}



/* Subscribe button Styling. */
.navbar .menu-navigation .menu-navigation-right .subscribe{

    border: none;
    color: white;
    padding: 20px;
    width: 140px;
    height: 56px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    background-color: rgba(235, 16, 2, 0.6)
}


.navbar .flex{

    /* Flex allows to align on the main axis. */
    display: flex;
    gap: var(--gap, 1rem);
}

.navbar .logo{
    margin: 10px;
}

.navbar .navbar-element{
    padding: 0 10px;
}

/* Dimension of the Saith Seren logo. */

.navbar .logo img{
    height: 78px;
    width: 115px;
}


/* Language change Styling. */

.lang-menu{
    margin-right: 20px;
    margin-top: 16px;
    position: relative;
}

.navbar .menu-navigation .menu-navigation-right .selected-lang{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.navbar .menu-navigation .menu-navigation-right .selected-lang img{
    height: 25px;
    width: 25px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.navbar .menu-navigation .menu-navigation-right .selected-lang a{
    margin-bottom: 20px;
}


.lang-menu ul{
    margin: 0;
    padding: 0;
    top: 30px;
    left: 0;
    background-color: white;
    border: 1px solid #f8f8f8;
    border-radius: 5px;
    padding: 5px;
    display: none;
 
    position: absolute;


    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}

.lang-menu ul li{
    list-style: none;
    display: flex;
    justify-content: space-between;

    margin-bottom: 5px;
}

.lang-menu ul li a{

    width: 120px;
    display: block;
    padding: 5px, 10px;
    justify-content: center;
    align-items: center;

    
        
}

.lang-menu ul li a img{

    height: 20px;
    width: 20px;
    margin-right: 1rem;

    margin-left: 5px;
        
}

/* Exception for this one. */

.navbar .menu-navigation .margin{
    width: 126px;
    display: flex;
}

/* Styling when we put the mouse over the language desired. */

.lang-menu ul li a:before{

    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;  
        
}

.lang-menu ul li a:hover{

    background-color:#f2f2f2;
        
}

.lang-menu:hover ul{
    display: block;
    align-items: center;
    justify-content: center;

}




/* Responsive Navbar. */

@media (max-width: 1290px){
    .navbar .max-width .menu-navigation-right {
        width: 600px;
    }
}

@media (max-width: 1180px){
    .navbar .max-width .menu-navigation-right {
        width: 450px;
    }
}

@media (max-width: 1161px){
    .navbar .max-width .menu-navigation {
        width: 430px;
    }
}

@media (max-width: 1000px){



    .navbar .menu-navigation{
        --gap: 2em;

        position: fixed;
        
        z-index: 1000;
        inset: 0 0 0 55%; 

        flex-direction: column;
        padding: min(30vh, 7rem) 2em;

        transform: translateX(100%);
        transition: transform 350ms ease-out;

       
    }

    .navbar .menu-navigation-left{
        flex-direction: column;
        top: 0;
        right: 0;
    }

    .navbar .menu-navigation .navbar-element{
        margin-top: 20px; /* Add 20 pixels of margin to the top of the element */
        margin-bottom: 20px; /* Add 20 pixels of margin to the bottom of the element */
    }

    .navbar .menu-navigation {
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(0.2rem);
        
     
    }

    .navbar .menu-navigation-right{
        flex-direction: column;
        width: 0;
    }

    .navbar .menu-navigation .menu-navigation-right .selected-lang{
        justify-content: start;
    }

    .navbar .menu-navigation .menu-navigation-right .subscribe{
        color: black;
        background-color: transparent;
        padding: 0px;
        width: 109px;
    }


    .navbar .menu-navigation .menu-navigation-right .subscribe:hover{

        color: #EF5656;
    }


    .navbar .menu-navigation[data-visible="true"]{
        transform: translateX(0%);
    }

    .navbar .mobile-nav-toggle{
        position: absolute;
        z-index: 9999;
        display: block;
        background: url("../ressources/icons/burger\ menu\ icon.webp");
        background-size: 38px 38px;
        background-repeat: no-repeat;
        border: 0;
        margin-right: 20px;
        color: black;
        cursor: pointer;
        width: 2rem;
        top: 2rem;
        right: 2rem;
        aspect-ratio: 1;
    }


    
    
}
