/* Styling Newsletter Section. */

.newsletter .max-width{
    
    width: 100%;
}


.newsletter .newsletter-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 527px;
    width: 100%;
    background:#B80F0A;
}

.newsletter .newsletter-content .newsletter-square{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 934px;
    height: 462px;
    background-color: rgba(255,255,255,0.85);
    border-radius: 30px;
    border: none;
}

/* Image Newsletter Styling. */

.newsletter .newsletter-content .newsletter-square .icon-newsletter{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.newsletter .newsletter-content .newsletter-square .icon-newsletter img{
    width: 252px;
    height: 252px;
}

/* Description Newsletter Styling. */

.newsletter .newsletter-content .newsletter-square .newsletter-square-information{
    display: block;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.newsletter .newsletter-content .newsletter-square .newsletter-square-information h3{
    padding-top: 110px;
    font-size: 32px;
    font-weight: 600;
    width: 322px;
    color: black;

}

.newsletter .newsletter-content .newsletter-square .newsletter-square-information p{
    color: black;
    font-size: 15px;
    padding-top: 22px;
    width: 282px;
}


/* Email Prompt Styling. */

.newsletter .newsletter-content .newsletter-square .newsletter-square-information .email-prompt{
    position: relative;
    padding-top: 32px;
}

.newsletter .newsletter-content .newsletter-square .newsletter-square-information .email-prompt input[type="email"]{
    position: relative;
    width: 374px;
    height: 39px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: none;

    padding-left: 69px;
}

.newsletter .newsletter-content .newsletter-square .newsletter-square-information .email-prompt img{
    position: absolute;
    width: 24px;
    height: 24px;
    top: 40px;
    left: 25px;
    font-size: 18px;

}

.newsletter .newsletter-content .newsletter-square .newsletter-square-information .email-prompt input[type="submit"]{
    margin-top: 18px;
    border: none;

    width: 374px;
    height: 39px;
    border-radius: 8px;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    background-color: rgba(255,0,0,0.37);
    color: white;
    font-weight: 600;
    font-size: 16px;

}



/* Newsletter Responsive Styling. */


@media (max-width: 1055px){
    .newsletter .newsletter-content{
        margin-top: 325px;
    }

    .newsletter .newsletter-content .newsletter-square{
        width: 790px;
        
    }
}
@media (max-width: 862px){

    .newsletter .newsletter-content .newsletter-square .icon-newsletter{
        width: 40%;
    }
    
    .newsletter .newsletter-content .newsletter-square .icon-newsletter img{
        width: 200px;
        height: 200px;
    }
    .newsletter .newsletter-content .newsletter-square{
        width: 650px;
        
    }
    .newsletter .newsletter-content .newsletter-square .newsletter-square-information h3{
        font-size: 25px;
    }

    .newsletter .newsletter-content .newsletter-square .newsletter-square-information p{
        width: 200px;
    }

    .newsletter .newsletter-content .newsletter-square .newsletter-square-information .email-prompt input[type="email"]{
        width: 300px;
    }

    .newsletter .newsletter-content .newsletter-square .newsletter-square-information .email-prompt input[type="submit"]{
        width: 300px;
    }

    .newsletter .newsletter-content .newsletter-square .newsletter-square-information .email-prompt img{
        width: 24px;
        height: 24px;
    }
}

@media (max-width: 695px){

    .newsletter .newsletter-content .newsletter-square{
        width: 400px;
        height: 420px;
    }

    .newsletter .newsletter-content .newsletter-square .icon-newsletter img{
        width: 101px;
        height: 101px;

        padding-right: 15px;
    }

    .newsletter .newsletter-content .newsletter-square .newsletter-square-information h3{
        width: 184px;
    }



    .newsletter .newsletter-content .newsletter-square .icon-newsletter img{
        width: 150px;
        height: 150px;
    }

    .newsletter .newsletter-content .newsletter-square .newsletter-square-information .email-prompt input[type="email"]{
        width: 150px;
    }

    .newsletter .newsletter-content .newsletter-square .newsletter-square-information .email-prompt input[type="submit"]{
        width: 150px;
    }
}


@media (max-width: 430px){
    
    .newsletter .newsletter-content {
        margin-top: 119px;
        background-color: #EF5656;
        height: 277px;
        width: 100%;
    }

    .newsletter .newsletter-content .newsletter-square {
        width: 351px;
        height: 211px;
    }

    .newsletter .newsletter-content .newsletter-square .newsletter-square-information h3 {
        padding-top: 33px;
        font-size: 14px;
        width: 184px;
        height: 50px;
    }

    .newsletter .newsletter-content .newsletter-square .newsletter-square-information p {
        font-size: 10px;
        width: 159px;
        height: 49px;
    }

    .newsletter .newsletter-content .newsletter-square .icon-newsletter img {
        width: 101px;
        height: 101px;
    }

    .newsletter .newsletter-content .newsletter-square .newsletter-square-information .email-prompt input[type="email"]{
        width: 134px;
        height: 30px;
        font-size: 10px;
        padding-left: 36px;
    }

    .newsletter .newsletter-content .newsletter-square .newsletter-square-information .email-prompt input[type="submit"]{
        width: 134px;
        height: 30px;
        font-size: 13px;
        margin-top: 11px;
    }

    .newsletter .newsletter-content .newsletter-square .newsletter-square-information .email-prompt img{
        width: 12px;
        height: 11px;

        top: 41px;
        left: 13px;
    }
    
    
}
