/* Styling Newsletter Section. */

.pictures .max-width{
    
    width: 100%;
}


.pictures .pictures-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 527px;
    width: 100%;
    background:#EF5656;
}

.pictures .pictures-content .pictures-square{
    display: flex;
    padding: 62px;
    width: 934px;
    height: 462px;
    background-color: rgba(255,255,255,0.85);
    border-radius: 30px;
    border: none;
}


/* Styling Description Picture. */

.pictures .pictures-content .pictures-square .description-picture{

    display: block;
    align-items: center;
    justify-content: center;
    width: 50%;
}


.pictures .pictures-content .pictures-square .description-picture h1{
    padding-top: 50px;
    font-weight: 600;
    font-size: 40px;
    color: black;
}

.pictures .pictures-content .pictures-square .description-picture p{
    padding-top: 43px;
    font-size : 16px;
    width: 329px;
    color: black;
}

/* Styling Picture Scroll. */

.pictures .pictures-content .pictures-square  .pictures-scroll{
    display: block;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;


}

.pictures .pictures-content .pictures-square  .pictures-scroll img{
    height: 272px;
    width: 419px;

}


.pictures .pictures-content .pictures-square  .pictures-scroll .picture-choose{
    display: flex;
    align-items: center;

}

.pictures .pictures-content .pictures-square  .pictures-scroll .picture-choose button{
    padding-left: 5px;
    cursor: pointer;
}



.pictures .pictures-content .pictures-square  .pictures-scroll .picture-choose img{
    margin-left: 5px;

    width: 24px;
    height: 24px;

    color: black;
}

/* To fix the arrow right (too wide). */

.pictures .pictures-content .pictures-square  .pictures-scroll .picture-choose .arrow-right{
    width: 20px;
    height: 20px;
}

.pictures .pictures-content .pictures-square  .pictures-scroll .picture-choose button{
    border: none;
    background: none;
    color: black;
    font-size: 16px;
}


/* Styling Cross Image. */

.pictures .pictures-content .pictures-square  .pictures-scroll .picture-scroll .image{
    margin-top: 20px;
    display: none;
}

.pictures .pictures-content .pictures-square  .pictures-scroll .picture-scroll .image.active{
    display: block;
}


.pictures .pictures-content .pictures-square .description-picture .title-description{
    display: none;
}

.pictures .pictures-content .pictures-square .description-picture .title-description.active{
    display: block;

    width: 329px;
}


.pictures .pictures-content .pictures-square .description-picture .title-picture{
    display: none;
}

.pictures .pictures-content .pictures-square .description-picture .title-picture.active{
    display: block;

    padding-top: 50px;
    font-weight: 600;
    font-size: 40px;
    color: black;

    margin-bottom: 35px;
}


@media (max-width: 1000px){
    .pictures .pictures-content .pictures-square{

        width: 734px;
        height: 362px;

    }

    .pictures .pictures-content .pictures-square  .pictures-scroll img{
        height: 200px;
        width: 319px;
    
    }


    .pictures .pictures-content .pictures-square .description-picture .title-description.active{
    
        width: 229px;
    }


    .pictures .pictures-content .pictures-square .description-picture .title-picture.active{

        font-size: 35px;

    }
}

@media (max-width: 775px){
    .pictures .pictures-content .pictures-square{

        width: 534px;
        height: 362px;

    }

    .pictures .pictures-content .pictures-square  .pictures-scroll img{
        height: 200px;
        width: 250px;

    
    }

    .pictures .pictures-content .pictures-square .description-picture .title-description.active{
    
        width: 150px;
    }

    .pictures .pictures-content .pictures-square .description-picture .title-picture.active{

        font-size: 25px;

    }
}


@media (max-width: 430px){
    .pictures .pictures-content{
        background-color: #CC0202;
        height: 225px;
    }

    .pictures .pictures-content .pictures-square{
        width: 351px;
        height: 211px;

        padding: 33px;
    }

    .pictures .pictures-content .pictures-square .description-picture{
        width: 43%;
    }

    .pictures .pictures-content .pictures-square .pictures-scroll img{
        width: 177px;
        height: 130px;
    }

    .pictures .pictures-content .pictures-square .description-picture .title-picture.active{
        font-size: 14px;
        padding-top: 30px;
    }

    .pictures .pictures-content .pictures-square .description-picture .title-description.active{
        font-size: 10px;
        width: 111px;
    }

    .pictures .pictures-content .pictures-square .pictures-scroll .picture-choose img{
        width: 10px;
        height: 10px;
    }

    .pictures .pictures-content .pictures-square  .pictures-scroll .picture-choose .arrow-right{
        width: 9px;
        height: 8px;
    }

    .pictures .pictures-content .pictures-square .pictures-scroll .picture-choose button{
        font-size: 10px;
    }
}

@media (max-width: 325px){
    .pictures .pictures-content .pictures-square{
        width: 300px;
    }
    
    .pictures .pictures-content .pictures-square .pictures-scroll img {
        width: 150px;
        height: 120px;
    }
    
    .pictures .pictures-content .pictures-square .description-picture {
        width: 46%;
    }
}
